<!DOCTYPE HTML>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
</head>
<body>
	<div id="root">
		<div class="container"> <!-- healthbar -->
			<div class="row">
				<div class="col-md-6 text-center">
					<h2>You</h2>
					<div class="healthbar">
						<div class="health" :style="{ width: playerLife + '%'}">
							<span class="text-white">{{playerLife}}</span>
						</div>
					</div>
				</div>

				<div class="col-md-6 text-center">
					<h2>Monster</h2>
					<div class="healthbar">
						<div class="health" :style="{ width: monsterLife + '%'}">
							<span class="text-white">{{monsterLife}}</span>
						</div>
					</div>
				</div>
			</div> <!-- end of row -->
		</div> <!-- end of container -->

		<div class="player-options container">
			<div class="row">
				<div class="col-md-12 text-center">
					<button @click="start = true" v-if="!start">New Game</button>
					<div v-if="start">
						<button @click="attack">Attack</button>
						<button @click="specialAttack">Special Attack</button>
						<button @click="heal">Heal</button>
						<button @click="restart">Give Up</button>
					</div>
				</div>
			</div>
		</div>
	</div>





<script src="main.js"></script>
</body>
</html>