.healthbar {
	width: 200px;
	height: 40px;
	background-color: #E0E0E0;
	margin: 0 auto;
}

.health {
	background-color: #44ACFC;
	width: 200px;
	height: 40px;
}

.player-options {
	margin-top: 40px;
	border: 1px solid #E0E0E0;
}

button:hover {
	cursor: pointer;
}

button {
	margin: 10px;
}